---
import { type CollectionEntry, getCollection } from "astro:content";
import { Comments } from "../../components/Comments.tsx";
import MainLayout from "../../layouts/MainLayout.astro";
import { TITLE } from "../../consts";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const title = TITLE.BLOG_POST(post.data.title);

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/blog/*.{jpeg,jpg,png,webp}",
);
---

<MainLayout title={title} description={post.data.description}>
  <div>
    <article>
      <div
        class="container prose mx-auto p-2 prose-pre:p-0 prose-pre:py-4 lg:max-w-screen-md"
      >
        <header>
          <div class="flex pt-16">
            <div class="my-auto flex h-4/6 w-full flex-col">
              <h2 class="pl-0.5 pt-8 text-4xl font-bold">{post.data.title}</h2>
              <div class="overflow-hidden rounded-2xl">
                <Image
                  class="h-full w-full object-cover"
                  src={images[post.data.heroImage]()}
                  alt={post.data.imgAlt}
                />
              </div>
            </div>
          </div>
        </header>
        <Content />
      </div>
    </article>
    <Comments client:idle />
  </div>
</MainLayout>

<style is:global>
  code > span {
    @apply pl-4;
  }
  pre > code .highlighted {
    @apply border-slate-50;
    @apply bg-white/10;
  }

  p {
    @apply break-words;
  }
</style>
