---
import { CollectionEntry, getCollection } from "astro:content";
import { Comments } from "../../components/Comments.tsx";
import MainLayout from "../../layouts/MainLayout.astro";
import { TITLE } from "../../consts";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const title = TITLE.BLOG_POST(post.data.title);
---

<MainLayout title={title} description={post.data.description}>
  <div>
    <article>
      <div
        class="prose prose-pre:p-0 prose-pre:py-4 container mx-auto lg:max-w-screen-md p-2"
      >
        <header>
          <div class="flex pt-16">
            <div class="flex flex-col my-auto w-full h-4/6">
              <h2 class="text-4xl font-bold pt-8 pl-0.5">{post.data.title}</h2>
              <div class="overflow-hidden rounded-2xl">
                <img
                  class="h-full w-full object-cover"
                  src={post.data.heroImage}
                  alt={post.data.imgAlt}
                />
              </div>
            </div>
          </div>
        </header>
        <Content />
      </div>
    </article>
    <Comments client:idle />
  </div>
</MainLayout>

<style is:global>
  code > span {
    @apply pl-4;
  }
  pre > code .highlighted {
    @apply border-slate-50;
    @apply bg-white/10;
  }
</style>
