---
import MainLayout from "../../layouts/MainLayout.astro";
import BigArticleCard from "../../components/BigArticleCard.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { TITLE, DESCRIPTION } from "../../consts.ts";

const title = TITLE.BLOG;
const description = DESCRIPTION.BLOG;

import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const newestPost = posts[0];
---

<MainLayout title={title} description={description}>
  <section class="container lg:max-w-screen-lg mx-auto px-12 lg:px-0">
    {
      newestPost && (
        <BigArticleCard
          heroImage={newestPost?.data.heroImage}
          slug={newestPost.slug}
          title={newestPost.data.title}
          pubData={newestPost.data.pubDate}
          description={newestPost.data.description}
        />
      )
    }
    <ul class="flex flex-wrap">
      {
        posts.slice(1).map((post) => (
          <li class="w-full md:w-1/2 px-2 mb-6 md:mb-12">
            <ArticleCard
              heroImage={post.data.heroImage}
              slug={post.slug}
              title={post.data.title}
              pubData={post.data.pubDate}
              description={post.data.description}
            />
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
