---
import MainLayout from "../../layouts/MainLayout.astro";
import BigArticleCard from "../../components/BigArticleCard.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { TITLE, DESCRIPTION } from "../../consts.ts";

const title = TITLE.BLOG;
const description = DESCRIPTION.BLOG;

import { getCollection } from "astro:content";
import type { ImageMetadata } from "astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const newestPost = posts[0];

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/blog/*.{jpeg,jpg,png,webp}",
);
---

<MainLayout title={title} description={description}>
  <section class="container mx-auto sm:px-12 lg:max-w-screen-lg lg:px-0">
    <ul>
      {
        newestPost && (
          <li class="mb-6 w-full px-2">
            <BigArticleCard
              heroImage={images[newestPost?.data.heroImage]()}
              imgAlt={newestPost.data.imgAlt}
              slug={newestPost.slug}
              title={newestPost.data.title}
              pubDate={newestPost.data.pubDate}
              description={newestPost.data.description}
            />
          </li>
        )
      }
      <div class="flex flex-wrap">
        {
          posts.slice(1).map((post) => (
            <li class="mb-6 w-full px-2 md:mb-12 md:w-1/2">
              <ArticleCard
                heroImage={images[post.data.heroImage]()}
                imgAlt={post.data.imgAlt}
                slug={post.slug}
                title={post.data.title}
                pubDate={post.data.pubDate}
                description={post.data.description}
              />
            </li>
          ))
        }
      </div>
    </ul>
  </section>
</MainLayout>
